<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?= htmlspecialchars($store->nickname) ?> 結帳小幫手</title>
    <?php include(VIEWS_DIR . "/include/static_common.html"); ?>
</head>
<body>

<!-- table -->
<div class="page" id="table">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false" aria-controls="navbar-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><?= htmlspecialchars($store->nickname) ?> 結帳小幫手</a>
        </div>
        <div id="navbar-menu" class="collapse nav-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" class="to-bill-page">已結帳單</a></li>
            </ul>
        </div>
    </nav>
    <div class="container table-content">
        <div class="map" data-height="<?= intval($total_height) ?>" data-width="<?= intval($total_width) ?>">
            <?php foreach ($tables as $key => $table) { ?>
            <div class="table-grid btn btn-default btn-lg" id="table-button-<?= htmlspecialchars($table->name) ?>"
                data-width="<?= intval($table->width) ?>px"
                data-height="<?= intval($table->height) ?>px"
                data-line-height="<?= intval($table->height) ?>px"
                data-left="<?= intval($table->x) ?>px"
                data-top="<?= intval($table->y) ?>px"
                data-z-index="<?= intval($table->z) ?>"
                data-active="<?= intval($table->active) ?>"
                data-name="<?= htmlspecialchars($table->name) ?>"></div>
            <?php } ?>
        </div>
    </div>
</div>

<!-- pos -->
<div class="page" id="pos" style="display:none;">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-left navbar-btn back-to-table"><span class="glyphicon glyphicon-home"></span></button>
            <span class="navbar-brand navbar-title"></span>
        </div>
    </nav>

    <div id="nav-category" class="btn-group btn-group-justified" role="group" aria-label="分類">
        <ul class="nav nav-tabs nav-justified">
            <?php foreach ($categories as $category) { ?>
            <li>
                <a href="#page<?= intval($category->id) ?>" data-transition="fade" data-theme="" data-icon="star" <?= 1 == $category->id ? 'class="ui-btn-active ui-state-persist"' : '' ?> data-category_id="<?= intval($category->id) ?>"><?= htmlspecialchars($category->name) ?></a>
            </li>
            <?php } ?>
        </ul>
    </div>

    <div id="pos-content">
        <div id="pos-left-column">
            <table width="100%" cellpadding="10" id="all-items">
                <tr class="thead">
                    <td width="50%">項目</td>
                    <td colspan="3">數量</td>
                </tr>
            </table>
        </div>

        <div id="pos-right-column">
            <?php foreach ($categories as $category) { ?>
            <div class="list-div" id="category-<?= intval($category->id) ?>" <?= 1 == $category->id ? '' : 'style="display:none;"' ?>>
                <?php foreach ($category->getCurrentProducts()->order('position ASC') as $product) { ?>
                <span class="grid">
                    <button data-product_id="<?= intval($product->id) ?>">
                        <span class="name"><?= htmlspecialchars($product->name) ?></span><br>
                        <span class="price">$<?= intval($product->price) ?></span><br>
                    </button>
                </span>
                <?php } ?>
            </div>
            <?php } ?>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header">
            <button id="send-to-kitchen" class="navbar-toggle navbar-left navbar-btn"><span class="glyphicon glyphicon-send"></span></button>
            <div class="dropup">
                <button id="change-table" class="navbar-toggle navbar-left navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-refresh"></span> <span class="caret"></span></button>
                <ul id="select-change-table" class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu2">
                    <?php foreach ($tables as $table) { ?>
                    <li data-value="<?= htmlspecialchars($table->name) ?>"><a href=""><?= htmlspecialchars($table->name) ?></a></li>
                    <?php } ?>
                </ul>
            </div>
            <span class="navbar-brand">小計 $ <span class="subtotal" data-value="0"></span></span>
            <button id="to-submit-page" class="navbar-toggle navbar-btn"><span class="glyphicon glyphicon-usd"></span></button>
        </div>
    </nav>
</div>

<script id="tmpl-item-tr" type="text/x-jquery-tmpl">
<tr class="item" data-price="${price}" id="item-${product_id}" data-product_id="${product_id}">
    <td class="item-name">
        <span>${name}</span>
    </td>
    <td width="30">
        <button class="minus" data-role="none" data-inline="true">－</button>
    </td>
    <td style="text-align:center;">
        <span class="selected-item-amount">${amount}</span>
    </td>
    <td width="30">
        <button class="plus" data-role="none" data-inline="true">＋</button>
    </td>
</tr>
</script>

<!-- submit -->
<div class="page" id="submit" style="display:none;">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-left navbar-btn back-to-pos"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <span class="navbar-brand navbar-title"></span>
        </div>
    </nav>
    <div>
        <div class="submit-content">
            <div class="form-group">
                <div class="form-control-label h2">人數</div>
                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                    <?php for ($i = 1; $i <= 9; $i ++) { ?>
                    <button class="btn btn-default custermers-button" data-value="<?= $i ?>"><?= $i ?></button>
                    <?php } ?>
                </div>
                <br><br>
                <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                    <?php for ($i = 10; $i <= 20; $i ++) { ?>
                    <button class="btn btn-default custermers-button" data-value="<?= $i ?>"><?= $i ?></button>
                    <?php } ?>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control-label h2">折扣選擇</div>
                <select name="event_id" class="form-control select-event">
                    <option value="0" selected>無</option>
                    <?php foreach ($events as $event) { ?>
                    <option value="<?= intval($event->id) ?>"><?= htmlspecialchars($event->title) ?></option>
                    <?php } ?>
                </select>
                <form class="form-by-event-id"></form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-header">
            <span class="navbar-brand">小計 $ <span class="subtotal" data-value="0"></span></span>
            <button type="button" class="navbar-toggle navbar-btn" id="submit_bill"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </nav>
</div>

<!-- bill -->
<div class="page" id="bill" style="display:none;">
</div>

<script type="text/javascript" src="/scripts/common.js?v=<?= STATIC_VERSION ?>"></script>
<script type="text/javascript" src="/scripts/index.js?v=<?= STATIC_VERSION ?>"></script>
<script>
$(function(){
    $('.do-not-remove-me').next('div').remove();
});
</script>
<div class="do-not-remove-me"></div>
</body>
</html>

