<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title><?= htmlspecialchars($store->nickname) ?> 打卡紀錄</title>
    <?php include(VIEWS_DIR . "/include/static_common.html"); ?>
    <?php include(VIEWS_DIR . "/include/bootstrap_datepicker.html"); ?>
    <style>
        .table > thead > tr > td {
            height: 60px;
            vertical-align: middle;
        }
        .table > tbody > tr > td {
            height: 60px;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<?php include(VIEWS_DIR . "/include/manage_nav.html"); ?>

<div class="container">
    <div>
        <h1><?= htmlspecialchars($store->nickname) ?> 打卡紀錄</h1>
    </div>

    <div class="bordered-block">
        <form class="form-horizontal" id="stat-form" data-render-to="stat-chart">
            <div class="form-group form-group-lg">
                <label for="start_date" class="col-sm-2 control-label">開始日期</label>
                <div class="col-sm-10">
                    <input class="datepicker form-control" name="start_date" data-date-format="yyyy-mm" value="<?= htmlspecialchars($start_date) ?>" autocomplete="off">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="end_date" class="col-sm-2 control-label">結束日期</label>
                <div class="col-sm-10">
                    <input class="datepicker form-control" name="end_date" data-date-format="yyyy-mm" value="<?= htmlspecialchars($end_date) ?>" autocomplete="off">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="preset" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button class="btn btn-default btn-sm date-preset" data-preset="this-month">本月</button>
                    <button class="btn btn-default btn-sm date-preset" data-preset="last-month">上月</button>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        </form>
    </div>
    <div class="bordered-block">
        <table class="table table-striped shifts">
            <thead>
                <tr>
                    <td>營業日</td>
                    <td>人員</td>
                    <td>上班</td>
                    <td>下班</td>
                    <td>時數</td>
                </tr>
            </thead>
            <tbody>
                <?php foreach (getFormattedWorkTimeRecord($work_time_records) as $record) { ?>
                <tr>
                    <td><?= htmlspecialchars($record['business_date']) ?></td>
                    <td><?= htmlspecialchars($record['staff_name']) ?></td>
                    <td><?= htmlspecialchars($record['punch_in']) ?></td>
                    <td><?= htmlspecialchars($record['punch_out']) ?></td>
                    <td><?= htmlspecialchars($record['work_time']) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/scripts/date-preset.js?v=<?= STATIC_VERSION ?>"></script>
<script>
$('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayHighlight: true,
    zIndexOffset: 2000
});

var $form = $('#stat-form');
var $startDate = $form.find(':input[name=start_date]');
var $endDate = $form.find(':input[name=end_date]');
$('.date-preset').datePreset($startDate, $endDate);
</script>
