<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title><?= htmlspecialchars($store->nickname) ?> 關帳紀錄</title>
    <?php include(VIEWS_DIR . "/include/static_common.html"); ?>
    <?php include(VIEWS_DIR . "/include/bootstrap_datepicker.html"); ?>
    <style>
        .table > thead > tr > td {
            height: 60px;
            vertical-align: middle;
        }
        .table > tbody > tr > td {
            height: 60px;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<?php include(VIEWS_DIR . "/include/manage_nav.html"); ?>

<div class="container">
    <div>
        <h1><?= htmlspecialchars($store->nickname) ?> 關帳紀錄</h1>
    </div>

    <div class="bordered-block">
        <form class="form-horizontal" id="stat-form" data-render-to="stat-chart">
            <div class="form-group form-group-lg">
                <label for="start_date" class="col-sm-2 control-label">開始日期</label>
                <div class="col-sm-10">
                    <input class="datepicker form-control" name="start_date" data-date-format="yyyy-mm" value="<?= htmlspecialchars($start_date) ?>" autocomplete="off">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="end_date" class="col-sm-2 control-label">結束日期</label>
                <div class="col-sm-10">
                    <input class="datepicker form-control" name="end_date" data-date-format="yyyy-mm" value="<?= htmlspecialchars($end_date) ?>" autocomplete="off">
                </div>
            </div>
            <div class="form-group form-group-lg">
                <label for="preset" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button class="btn btn-default btn-sm date-preset" data-preset="this-month">本月</button>
                    <button class="btn btn-default btn-sm date-preset" data-preset="last-month">上月</button>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        </form>
    </div>
    <div class="bordered-block">
        <table class="table table-striped shifts">
            <thead>
                <tr>
                    <td>營業日</td>
                    <td>應關帳金額</td>
                    <td>錢櫃初始金額</td>
                    <td>臨時支出</td>
                    <td>臨時收入</td>
                    <td>錢櫃應有現金</td>
                    <td>錢櫃實際現金</td>
                    <td>現金短溢</td>
                    <td>結餘處理</td>
                    <td>結餘處理人</td>
                    <td>錢櫃留存現金</td>
                    <td>關帳時間</td>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($datasets as $dataset) { ?>
                <tr>
                    <td><?= htmlspecialchars($dataset['business_date']) ?></td>
                    <td><?= $currency_symbol . floatval($dataset['cash_sales']) ?></td>
                    <td class="modifiable" data-id="<?= intval($dataset['id']) ?>"><?= $currency_symbol ?><span class="cell-value" data-name="open_amount"><?= floatval($dataset['open_amount']) ?></span> <a href="#" class="modify" data-type="number" style="display:none"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td class="modifiable" data-id="<?= intval($dataset['id']) ?>"><?= $currency_symbol ?><span class="cell-value" data-name="paid_out"><?= floatval($dataset['paid_out']) ?></span> <a href="#" class="modify" data-type="number" style="display:none"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td class="modifiable" data-id="<?= intval($dataset['id']) ?>"><?= $currency_symbol ?><span class="cell-value" data-name="paid_in"><?= floatval($dataset['paid_in']) ?></span> <a href="#" class="modify" data-type="number" style="display:none"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td><?= $currency_symbol . floatval($dataset['expected_amount']) ?></td>
                    <td class="modifiable" data-id="<?= intval($dataset['id']) ?>"><?= $currency_symbol ?><span class="cell-value" data-name="close_amount"><?= floatval($dataset['close_amount']) ?></span> <a href="#" class="modify" data-type="number" style="display:none"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td><?= sprintf('%s%s%s', $dataset['difference'] > 0 ? '+' : '-', $currency_symbol, abs(floatval($dataset['difference']))) ?></td>
                    <td class="modifiable" data-id="<?= intval($dataset['id']) ?>"><?= htmlspecialchars($dataset['adjustment_type_text']) ?> <?= $currency_symbol ?><span class="cell-value" data-name="adjustment_amount"><?= floatval($dataset['adjustment_amount']) ?></span> <a href="#" class="modify" data-type="number" style="display:none"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td class="modifiable" data-id="<?= intval($dataset['id']) ?>"><span class="cell-value" data-name="adjustment_by"><?= htmlspecialchars($dataset['adjustment_by']) ?></span> <a href="#" class="modify" data-type="name" style="display:none"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td><?= $currency_symbol . floatval($dataset['float']) ?></td>
                    <td><?= date('Y-m-d H:i:s', $dataset['created_at']) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/scripts/date-preset.js?v=<?= STATIC_VERSION ?>"></script>
<script>
var staffs = <?= json_encode($staff_names) ?>;

$('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayHighlight: true,
    zIndexOffset: 2000
});

$('td.modifiable').hover(function() {
    $(this).find('a.modify').show();
}, function() {
    $(this).find('a.modify').hide();
}).delegate('a.modify', 'click', function(e) {
    e.preventDefault();
    var $this = $(this);
    var $span = $this.siblings('span.cell-value');
    var $td = $this.closest('td');
    var oriValue = $span.text();
    var oriHtml = $td.html();
    var $form = $('<form>').on('submit', function(e) {
        e.preventDefault();
        var url = '/ajax_update_shift_record.php';
        var data = $(this).serializeArray();
        $.post(url, data, function(rtn) {
            if (rtn.message) {
                alert(rtn.message);
            }
            if (rtn.error) {
                var $icon = $('<span class="glyphicon glyphicon-remove">').fadeOut('slow');
                $td.html(oriHtml).find('span.cell-value').append($icon);
            } else {
                var $icon = $('<span class="glyphicon glyphicon-ok">').fadeOut('slow');
                $td.html(oriHtml).find('span.cell-value').text(rtn.escaped_new_value).append($icon);
            }
        });
    });
    var type = $this.data('type');
    if ('number' === type) {
        $('<input>').prop({
            type: 'number',
            name: 'value',
            value: oriValue,
            style: "width: " + $td.width() + "px"
        }).appendTo($form);
    } else if ('name' === type) {
        var $select = $('<select>').prop({
            name: 'value',
            style: "width: " + $td.width() + "px"
        });
        $.each(staffs, function(key, item) {
            var selected = false;
            if (oriValue === item) {
                selected = true;
            }
            $('<option>').prop({
                value: key,
                selected: selected
            }).text(item).appendTo($select);
        });
        $select.on('change', function(){
            $(this).closest('form').submit();
        });
        $select.appendTo($form);
    }
    $('<input>').prop({
        type: 'hidden',
        name: 'column_name',
        value: $span.data('name')
    }).appendTo($form);
    $('<input>').prop({
        type: 'hidden',
        name: 'id',
        value: $td.data('id')
    }).appendTo($form);
    $td.html($form);
});

var $form = $('#stat-form');
var $startDate = $form.find(':input[name=start_date]');
var $endDate = $form.find(':input[name=end_date]');
$('.date-preset').datePreset($startDate, $endDate);
</script>
