<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title><?= htmlspecialchars($store->nickname) ?> 統計數據</title>
    <?php include(VIEWS_DIR . "/include/static_common.html"); ?>
    <script type="text/javascript" src="static/highcharts.src.js"></script>
</head>

<body>
<?php include(VIEWS_DIR . "/include/manage_nav.html"); ?>

<div class="container">
    <div>
        <h1><?= htmlspecialchars($store->nickname) ?> 統計數據</h1>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation" <?php if ('overview' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php">總覽</a></li>
        <li role="presentation" <?php if ('customers' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=customers">來客</a></li>
        <li role="presentation" <?php if ('category' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=category">分類</a></li>
        <li role="presentation" <?php if ('event' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=event">折扣活動</a></li>
    </ul>
    <div class="bordered-block">
        <h2>按月統計</h2>
        <?php foreach ($month_stat_result->getCharts() as $index => $chart) { ?>
        <div id="month_chart_<?= intval($index) ?>" style="min-width: 310px; height: 400px; margin: 0 auto 30px auto"></div>
        <?php } ?>
    </div>
    <div class="bordered-block">
        <h2>按日統計</h2>
        <?php foreach ($date_stat_result->getCharts() as $index => $chart) { ?>
        <div id="date_chart_<?= intval($index) ?>" style="min-width: 310px; height: 400px; margin: 0 auto 30px auto"></div>
        <?php } ?>
    </div>
</div>

<script>
var chart;
var highchart = function(title, renderTo, categories, datasets) {
    var series = [];
    for (let i in datasets) {
        series.push({
            'name': i,
            'data': datasets[i]
        });
    }
    var char_options = {
        chart: {
            renderTo: renderTo,
            type: 'line',
            marginRight: 130,
            marginBottom: 25
        },
        title: {
            text: title,
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: '金額'
            },
            plotlines: [{
            value: 0,
            width: 1,
            color: '#808080'
            }]
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        tooltip: {
            pointformat: '{series.name}: <b>{point.y}</b><br/>',
            valuesuffix: ' 元',
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalalign: 'middle',
            borderwidth: 0
        },
        series: series
    };

    chart = new Highcharts.Chart(char_options);
};

<?php foreach ($month_stat_result->getCharts() as $index => $chart) { ?>
highchart(
    <?= json_encode($chart->getTitle()) ?>,
    'month_chart_<?= json_encode($index) ?>',
    <?= json_encode($chart->getPeriodNames()) ?>,
    <?= json_encode($chart->getDataSets()) ?>
);
<?php } ?>

<?php foreach ($date_stat_result->getCharts() as $index => $chart) { ?>
highchart(
    <?= json_encode($chart->getTitle()) ?>,
    'date_chart_<?= json_encode($index) ?>',
    <?= json_encode($chart->getPeriodNames()) ?>,
    <?= json_encode($chart->getDataSets()) ?>
);
<?php } ?>
</script>
</body>
</html>
