<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><?= htmlspecialchars($store->nickname) ?> 管理後台</a>
        </div>
        <div id="navbar" class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="/manage_items.php">菜單管理</a></li>
                <li><a href="/manage_tables.php">桌號管理</a></li>
                <li><a href="/manage_events.php">折扣活動管理</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
