<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-left navbar-btn back-to-table"><span class="glyphicon glyphicon-home"></span></button>
        <span class="navbar-brand"><?= htmlspecialchars($store->nickname) ?> 結帳小幫手</span>
        <?php if ($bill) { ?>
        <button type="button" class="navbar-toggle navbar-btn" id="delete_bill" data-id="<?= intval($bill->id) ?>"><span class="glyphicon glyphicon-trash"></span></button>
        <?php } ?>
    </div>
</nav>

<?php if ($bill) { ?>
<div class="container">
    <div class="alert alert-info table-info">
        <strong><?= htmlspecialchars($bill->table) ?>: </strong>
        點餐時間 <?= date('H:i', $bill->ordered_at) ?>,
        結帳時間 <?= date('H:i', $bill->paid_at) ?>,
        人數 <?= intval($bill->custermers) ?>
    </div>
    <table class="table table-striped">
        <tr>
            <th>品名</th>
            <th>單價</th>
            <th>數量</th>
            <th>總計</th>
        </tr>
        <?php foreach ($bill->items as $item) { ?>
        <tr class="success">
            <td><?= htmlspecialchars($item->product->name) ?></td>
            <td><?= intval($item->product->price) ?></td>
            <td><?= intval($item->amount) ?></td>
            <td><?= intval($item->product->price * $item->amount) ?></td>
        </tr>
        <?php } ?>
        <?php foreach ($bill->discounts as $discount) { ?>
        <tr class="danger">
            <td><?= htmlspecialchars($discount->event->title) ?></td>
            <td></td>
            <td></td>
            <td>-<?= intval($discount->value) ?></td>
        </tr>
        <?php } ?>
        <tr class="warning">
            <th></th>
            <th></th>
            <th></th>
            <th><?= intval($bill->price) ?></th>
        </tr>

        <table class="table table-striped">
            <tr>
                <th>付款方式</th>
                <th>金額</th>
            </tr>
            <?php foreach ($bill_payments_dataset as $data) { ?>
            <tr>
                <td class="modifiable-payment-method" data-id="<?= intval($data['id']) ?>" data-name="payment_method" data-text="<?= htmlspecialchars($data['text']) ?>" data-type="select" data-url="/ajax_update_payment_method.php"></td>
                <td><?= htmlspecialchars($data['amount']) ?></td>
            </tr>
            <?php } ?>
        </table>
    </ul>
</div>
<?php } else { ?>
<div class="container">
    <div class="alert alert-warning table-info">
        <strong>本日尚無帳單資訊</strong>
    </div>
</div>
<?php } ?>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-header">
        <?php if ($prev_bill_id) { ?>
        <button id="prev_bill" class="navbar-toggle navbar-left navbar-btn" data-prev-id="<?= intval($prev_bill_id) ?>"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
        <?php } ?>
        <span class="navbar-brand">本日業績 $ <span id="today_total"></span></span>
        <?php if ($next_bill_id) { ?>
        <button id="next_bill" class="navbar-toggle navbar-btn" data-next-id="<?= intval($next_bill_id) ?>"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
        <?php } ?>
    </div>
</nav>

<script>
$(function() {
    var payment_methods = <?= json_encode($all_payment_methods) ?>;
    $('.modifiable-payment-method').modifiable(payment_methods);
});
</script>
