
<div class="page" id="punch" style="display:none;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle navbar-left navbar-btn back-to-table"><span class="glyphicon glyphicon-home"></span></button>
	    <div class="navbar-brand"><span class="back-to-table"><?= htmlspecialchars($store->nickname) ?> 結帳小幫手</span></div>
	</div>
    </nav>

    <div class="container">
	<div class="punch-step-div" id="punch_staff_code">
	    <div class="col-md-12 numpad-phone">
                <form name="code">
                    <div class="form-group">
                        <input type="tel" name="code" class="form-control numpad-tel" value="" placeholder="請輸入人員代碼" readonly />
                        <button type="reset" class="btn btn-default btn-md">清除</button>
                    </div>
                    <div class="numpad">
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">1</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">2</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">3</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">4</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">5</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">6</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">7</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">8</div>
                            </div>
                        </div>
                        <div class="numpad-span4">
                            <div class="numpad-num">
                                <div class="numpad-txt">9</div>
                            </div>
                        </div>
                        <div class="numpad-span4 numpad-span4-zero">
                            <div class="numpad-num">
                                <div class="numpad-txt">0</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-success">確定</button>
                </form>
	    </div>
	</div>

	<div class="punch-step-div" id="punch_form">
            <div>
                <div class="h3">人員名稱</div>
                <div class="h2 staff-name">&nbsp;</div>
                <button type="button" name="back" class="btn btn-lg btn-block btn-danger" style="display:none">回前頁</button>
            </div>
            <form>
                <div class="form-group">
                    <button type="button" class="btn btn-default boxed-select punch-type-button" data-group="punch-type" data-value="<?= intval(PunchLog::TYPE_IN) ?>">上班</button>
                    <button type="button" class="btn btn-default boxed-select punch-type-button" data-group="punch-type" data-value="<?= intval(PunchLog::TYPE_OUT) ?>">下班</button>
                </div>
                <div class="form-group">
                    <input type="hidden" name="code" value="" />
                    <button type="submit" class="btn btn-lg btn-block btn-success">打卡</button>
                </div>
            </form>
        </div>
    </div>
</div> 
