<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-left navbar-btn back-to-table"><span class="glyphicon glyphicon-home"></span></button>
        <span class="navbar-brand"><?= htmlspecialchars($store->nickname) ?> 結帳小幫手</span>
    </div>
</nav>

<div class="container">
    <h1>關帳</h1>
    <h2>營業資訊</h2>
    <form class="form-horizontal">
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">前次關帳時間</label>
            <div class="col-sm-10">
                <p class="form-control-static"><?= $previous_shift ? date('Y-m-d H:i:s', $previous_shift->created_at) : '無' ?></p>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">本日營業額</label>
            <div class="col-sm-10">
                <p class="form-control-static"><?= htmlspecialchars($currency_symbol) ?><?= floatval($today_sales) ?></p>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label text-danger">累積未關帳金額</label>
            <div class="col-sm-10">
                <p class="form-control-static text-danger" id="sales"><?= htmlspecialchars($currency_symbol) ?><?= floatval($sales) ?></p>
            </div>
        </div>
    </form>
    <h2>現金點收</h2>
    <form class="form-horizontal">
        <div class="form-group form-group-lg">
            <label for="open_amount" class="col-sm-2 control-label">錢櫃初始金額</label>
            <div class="col-sm-10">
                <input type="number" class="form-control check-group" id="open_amount" name="open_amount" placeholder="請輸入金額" value="<?= htmlspecialchars($open_amount) ?>">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="close_amount" class="col-sm-2 control-label">錢櫃結餘總額</label>
            <div class="col-sm-10">
                <input type="number" class="form-control check-group adjustment-group" id="close_amount" name="close_amount" placeholder="請輸入金額">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="paid_out" class="col-sm-2 control-label">臨時支出</label>
            <div class="col-sm-10">
                <input type="number" class="form-control check-group" id="paid_out" name="paid_out" placeholder="請輸入金額">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="paid_in" class="col-sm-2 control-label">臨時收入</label>
            <div class="col-sm-10">
                <input type="number" class="form-control check-group" id="paid_in" name="paid_in" placeholder="請輸入金額">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="short_and_over" class="col-sm-2 control-label">錢櫃應有現金</label>
            <div class="col-sm-10">
                <p class="form-control-static" id="expected_amount"></p>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="short_and_over" class="col-sm-2 control-label">現金短溢</label>
            <div class="col-sm-10">
                <p class="form-control-static" id="difference"></p>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="adjustment_type" class="col-sm-2 control-label">結餘處理</label>
            <div class="btn-group btn-group-lg col-sm-10" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" class="adjustment-group" name="adjustment_type" value="<?= intval(Shift::ADJUSTMENT_TAKEOUT) ?>" autocomplete="off" checked>營收取出
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="adjustment-group" name="adjustment_type" value="<?= intval(Shift::ADJUSTMENT_ADD) ?>" autocomplete="off">錢櫃補款
                </label>
                <label class="btn btn-default">
                    <input type="radio" class="adjustment-group" name="adjustment_type" value="<?= intval(Shift::ADJUSTMENT_PASS) ?>" autocomplete="off">略過
                </label>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="adjustment_amount" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="number" class="form-control adjustment-group" name="adjustment_amount" placeholder="請輸入金額">
            </div>
        </div>
        <?php if (count($user_names) > 0) { ?>
        <div class="form-group form-group-lg">
            <label for="adjustment_by" class="col-sm-2 control-label">取出/補款人</label>
            <div class="col-sm-10">
                <select name="adjustment_by" class="form-control select-event">
                    <option value="0" selected>請選擇...</option>
                    <?php foreach ($user_names as $id => $name) { ?>
                    <option value="<?= intval($id) ?>"><?= htmlspecialchars($name) ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <?php } ?>
        <div class="form-group form-group-lg">
            <label for="stored" class="col-sm-2 control-label">錢櫃留存現金</label>
            <div class="col-sm-10">
                <p class="form-control-static" id="float"></p>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" id="submit_summary">確認</button>
            </div>
        </div>
    </form>
</div>
