<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title><?= htmlspecialchars($store->nickname) ?> 統計數據</title>
    <?php include(VIEWS_DIR . "/include/static_common.html"); ?>
    <script type="text/javascript" src="static/highcharts.src.js"></script>
</head>

<body>
<?php include(VIEWS_DIR . "/include/manage_nav.html"); ?>

<div class="container">
    <div>
        <h1><?= htmlspecialchars($store->nickname) ?> 統計數據</h1>
    </div>
    <ul class="nav nav-pills">
        <li role="presentation" <?php if ('overview' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php">總覽</a></li>
        <li role="presentation" <?php if ('customers' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=customers">來客</a></li>
        <li role="presentation" <?php if ('product' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=product">商品</a></li>
        <li role="presentation" <?php if ('category' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=category">分類</a></li>
        <li role="presentation" <?php if ('event' == $topic) { ?>class="active"<?php } ?>><a href="/statistics.php?topic=event">折扣活動</a></li>
    </ul>
    <div class="bordered-block">
        <h2>按月統計</h2>
        <div id="month_chart_value"></div>
        <div id="month_chart_count"></div>
    </div>
    <div class="bordered-block">
        <h2>按日統計</h2>
        <div id="date_chart_value"></div>
        <div id="date_chart_count"></div>
    </div>
</div>

<script>
var chart;
var highchart = function(title, renderTo, categories, yAxisTitle, datasets) {
    var series = [];
    var totals = {};
    for (let stat_item in datasets) {
        dataset = datasets[stat_item];
        for (let index in dataset) {
            totals[index] = totals[index] || 0;
            totals[index] += dataset[index];
        }
    }
    for (let stat_item in datasets) {
        dataset = datasets[stat_item];
        let formatted_dataset = [];
        for (let index in dataset) {
            let value = dataset[index];
            let percentage = '--';
            if (totals[index] > 0) {
                percentage = (value / totals[index] * 100).toFixed(2);
            }
            formatted_dataset.push({y: value, percentage: percentage});
        }
        series.push({
            name: stat_item,
            data: formatted_dataset
        });
    }
    var char_options = {
        chart: {
            renderTo: renderTo
        },
        title: {
            text: title,
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: yAxisTitle
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true,
                    formatter: function() {
                        if ('金額' === yAxisTitle) {
                            return '$' + this.y;
                        } else {
                            return this.y;
                        }
                    }
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y} ({point.percentage}%)</b><br/>',
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: series
    };

    chart = new Highcharts.Chart(char_options);
};

<?php $chart = $month_stat_result->getChart('折扣活動金額統計'); ?>
highchart(
    <?= json_encode($chart->getTitle()) ?>,
    'month_chart_value',
    <?= json_encode($chart->getXAxisCategories()) ?>,
    '金額',
    <?= json_encode($chart->getDataSets()) ?>
);
<?php $chart = $month_stat_result->getChart('折扣活動次數統計'); ?>
highchart(
    <?= json_encode($chart->getTitle()) ?>,
    'month_chart_count',
    <?= json_encode($chart->getXAxisCategories()) ?>,
    '次數',
    <?= json_encode($chart->getDataSets()) ?>
);

<?php $chart = $date_stat_result->getChart('折扣活動金額統計'); ?>
highchart(
    <?= json_encode($chart->getTitle()) ?>,
    'date_chart_value',
    <?= json_encode($chart->getXAxisCategories()) ?>,
    '金額',
    <?= json_encode($chart->getDataSets()) ?>
);
<?php $chart = $date_stat_result->getChart('折扣活動次數統計'); ?>
highchart(
    <?= json_encode($chart->getTitle()) ?>,
    'date_chart_count',
    <?= json_encode($chart->getXAxisCategories()) ?>,
    '次數',
    <?= json_encode($chart->getDataSets()) ?>
);
</script>
</body>
</html>
