<div class="bordered-block">
    <form class="form-horizontal" id="stat-form" data-render-to="stat-chart">
        <div class="form-group form-group-lg">
            <label for="start_date" class="col-sm-2 control-label">開始日期</label>
            <div class="col-sm-10">
                <input class="datepicker form-control" name="start_date" data-date-format="yyyy-mm" value="<?= htmlspecialchars($start_date) ?>" autocomplete="off">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="end_date" class="col-sm-2 control-label">結束日期</label>
            <div class="col-sm-10">
                <input class="datepicker form-control" name="end_date" data-date-format="yyyy-mm" value="<?= htmlspecialchars($end_date) ?>" autocomplete="off">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label for="end_date" class="col-sm-2 control-label">統計周期</label>
            <div class="btn-group btn-group-lg col-sm-10" data-toggle="buttons">
                <?php foreach ($valid_periods as $period => $text) { ?>
                <label class="btn btn-default">
                    <input type="radio" name="period" value="<?= htmlspecialchars($period) ?>" autocomplete="off"><?= htmlspecialchars($text) ?>
                </label>
                <?php } ?>
            </div>
        </div>
        <div class="form-group form-group-lg">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="topic" value="<?= htmlspecialchars($topic) ?>" />
                <button type="submit" class="btn btn-default">送出</button>
            </div>
        </div>
    </form>
    <div id="stat-chart"></div>
</div>

<script>
var period = <?= json_encode($selected_period) ?>;

$('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    todayHighlight: true,
    zIndexOffset: 2000
});

var updateLinks = function(data) {
    var newUrl = addSerializedArrayToUrlParameters(window.location.href, data);
    window.history.pushState({"form":data}, "", newUrl);
    $('.topic-link').prop('href', function() {
        var url = $(this).prop('href');
        return addSerializedArrayToUrlParameters(url, data, ['topic']);
    });
}

var addSerializedArrayToUrlParameters = function(url, serializedArray, preserverKeys) {
    var preserverKeys = preserverKeys || [];
    var params = {};
    var oriQueryString = url.split('?')[1] || '';
    oriQueryString.split('#')[0].split('&').map(function(string) {
        params[string.split('=')[0]] = string.split('=')[1];
    });
    Object.values(serializedArray).map(function(item) {
        if (preserverKeys.indexOf(item.name) > -1) {
            return;
        }
        params[item.name] = item.value;
    });
    var params_string = $.param(params);
    var hash = oriQueryString.split('#')[1] || "";
    var new_url = url.split('?')[0] + '?' + params_string;
    new_url = (hash.length > 0 ? new_url + '#' + hash : new_url);
    return new_url;
};

$('#stat-form').submit(function(e) {
    e.preventDefault();
    $form = $(this);
    var data = $(this).serializeArray();
    var renderTo = $form.data('render-to');
    var $renderTo = $('#' + renderTo);
    $renderTo.empty();
    var $loader = $('<div>').addClass('loader').appendTo($renderTo).css({
        'margin': 'auto'
    });
    updateLinks(data);
    $.get('/ajax_get_statistics_result.php', data, function(rtn) {
        $loader.remove();
        if (rtn.error) {
            alert(rtn.msg);
            return;
        }
        renderByAjaxRtn(renderTo, rtn);
    }, 'json');
});

$(function() {
    var $default_period = $(':input[name=period][value=' + period + ']');
    if (0 === $default_period.length) {
        $default_period = $(':input[name=period]:enabled:eq(0)');
    }
    $default_period.click();
    $('#stat-form').submit();
});
</script>
