<ul class="nav nav-pills" id="stat-topics">
    <li role="presentation" <?php if ('overview' == $topic) { ?>class="active"<?php } ?>><a class="topic-link" href="/statistics.php">總覽</a></li>
    <li role="presentation" <?php if ('customers' == $topic) { ?>class="active"<?php } ?>><a class="topic-link" href="/statistics.php?topic=customers">來客</a></li>
    <li role="presentation" <?php if ('product' == $topic) { ?>class="active"<?php } ?>><a class="topic-link" href="/statistics.php?topic=product">商品</a></li>
    <li role="presentation" <?php if ('category' == $topic) { ?>class="active"<?php } ?>><a class="topic-link" href="/statistics.php?topic=category">分類</a></li>
    <li role="presentation" <?php if ('event' == $topic) { ?>class="active"<?php } ?>><a class="topic-link" href="/statistics.php?topic=event">折扣活動</a></li>
    <li role="presentation" <?php if ('shift' == $topic) { ?>class="active"<?php } ?>><a class="topic-link" href="/statistics.php?topic=shift">關帳統計</a></li>
</ul>
