<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title><?= htmlspecialchars($store->nickname) ?> 統計數據</title>
    <?php include(VIEWS_DIR . "/include/static_common.html"); ?>
    <?php include(VIEWS_DIR . "/statistics/include_static.html"); ?>
</head>

<body>
<?php include(VIEWS_DIR . "/include/manage_nav.html"); ?>

<div class="container">
    <div>
        <h1><?= htmlspecialchars($store->nickname) ?> 統計數據</h1>
    </div>
    <?php include(VIEWS_DIR . "/statistics/include_subnav.html"); ?>
    <?php include(VIEWS_DIR . "/statistics/include_main.html"); ?>
</div>

<script>
var chart;
var formatDataset = function(datasets) {
    var total = 0;
    for (let index in datasets) {
        total += datasets[index];
    }
    var formatted_dataset = [];
    for (let index in datasets) {
        let value = datasets[index];
        let percentage = (value / total * 100).toFixed(2);
        formatted_dataset.push({y: value, percentage: percentage});
    }
    return formatted_dataset;
}
var staffchart = function(renderTo, title, categories, datasets) {
    var series = [];
    var formatted_adjustment_dataset = formatDataset(datasets['金額']);
    var formatted_quantity_dataset = formatDataset(datasets['次數']);
    series.push({
        name: '金額',
        data: formatted_adjustment_dataset,
        tooltip: {
            valuePrefix: '$'
        }
    }, {
        name: '次數',
        yAxis: 1,
        data: formatted_quantity_dataset
    });
    var char_options = {
        chart: {
            renderTo: renderTo,
            type: 'bar',
            height: (categories.length * 50 + 200) + 'px'
        },
        title: {
            text: title,
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: categories
        },
        yAxis: [{
            title: {
                text: '金額'
            },
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }, {
            title: {
                text: '次數'
            },
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            opposite: true
        }],
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    formatter: function() {
                        if ('金額' === this.series.name) {
                            return '$' + this.y;
                        } else {
                            return this.y;
                        }
                    }
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y} ({point.percentage}%)</b><br/>',
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top'
        },
        series: series
    };

    chart = new Highcharts.Chart(char_options);
};

var shiftchart = function(renderTo, categories, datasets) {
    var series = [];
    for (let stat_item in datasets) {
        dataset = datasets[stat_item];
        series.push({
            name: stat_item,
            data: dataset,
            tooltip: {
                valuePrefix: '$'
            }
        });
    }
    var char_options = {
        chart: {
            renderTo: renderTo,
            type: 'line'
        },
        title: {
            text: '關帳統計',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            title: {
                text: '關帳統計'
            }
        },
        plotOptions: {
            'line': {
                dataLabels: {
                    enabled: true,
                    format: '${point.y}'
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b><br/>',
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: series
    };

    chart = new Highcharts.Chart(char_options);
};

var renderByAjaxRtn = function(renderTo, rtn) {
    var $shift_chart_div = $('<div>').appendTo('#' + renderTo).prop('id', renderTo + '_shift');
    var $staff_chart_div = $('<div>').appendTo('#' + renderTo).prop('id', renderTo + '_staff');

    var shift_chart = rtn['關帳統計'];
    shiftchart(
        $shift_chart_div.prop('id'),
        shift_chart.xAxisCategories,
        shift_chart.datasets
    );

    var staff_chart = rtn['收款人結餘金額及處理次數'];
    var xAxisCategories = staff_chart.xAxisCategories;
    staffchart(
        $staff_chart_div.prop('id'),
        '收款人統計 (開始至結束不分周期)',
        xAxisCategories,
        staff_chart.datasets
    );
}
</script>
</body>
</html>
